<nav class="z-nav-menu" [class.z-nav-menu--disabled]="isDisabled()">
  <ul 
    class="z-nav-menu__list" 
    cdkDropList 
    cdkDropListOrientation="horizontal" 
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListDisabled]="isDisabled()"
  >
    @for (item of internalItems(); track item.id) {
      <li 
        class="z-nav-menu__item" 
        cdkDrag 
        cdkDragLockAxis="x"
        [class.z-nav-menu__item--active]="activeId() === item.id"
      >
        <!-- The custom drag placeholder -->
        <div *cdkDragPlaceholder class="z-nav-menu__placeholder"></div>
        
        <a 
          [routerLink]="item.link" 
          class="z-nav-menu__link"
          (click)="selectItem(item)"
          [attr.aria-current]="activeId() === item.id ? 'page' : null"
        >
          @if (item.icon) {
            <span class="z-nav-menu__icon" [innerHTML]="item.icon"></span>
          }
          <span class="z-nav-menu__label">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
